$dark-shadow-1: rgb(0, 0, 0, 0.6);
$dark-shadow-2: rgb(0, 0, 0, 0.25);
$dark-1: #101010;
$dark-2: #212121;
$dark-3: #333333;
$dark-5: #555555;

$white-1: #fff;

$green-1: #228b22;

$red-1: #C73E3E;

$bg-transparent: transparent;

$status-0: #ffc219;
$status-1: #029DAF;
$status-2: $red-1;