@import 'Colors';
@import 'Border';
@import 'Font';

.overlay {
    position: fixed;
    overflow-y: auto !important;
    background-color: $dark-shadow-1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 32px 0;
    display: grid;
    place-items: center;
}

.dialog {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 650px;
    margin: auto auto;
    padding: 16px;
    border-radius: 2px;
    background-color: $white-1;
    box-shadow: 0px 0px 15px 5px $dark-shadow-2;
    border-radius: 2px;

    .row {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .column {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    input {
        display: flex;
        width: 100%;
    }

    textarea {
        resize: none;
        min-height: 100px;
    }
}

hr {
    width: 100%;
    height: 1px;
    background-color: $gray-c;
}