* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  border: none;
  outline: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-color: #101010;
}
#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.todos {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  padding: 32px 16px;
  font-family: "Inter", sans-serif;
}

.page-title {
  font-weight: 400;
  font-size: 24px;
  color: #fff;
  margin-bottom: 32px;
}

.form-todo {
  display: flex;
  flex-direction: column;
  box-shadow: 0em 0em 0.2em rgba(255, 255, 255, 0.2);
  margin-bottom: 32px;
  padding: 12px 8px;
  border-radius: 2px;
  background: #212121;
  font-size: 14px;
}

.form-todo label {
  color: #fff;
  margin-bottom: 8px;
}

.newTaskArea {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-radius: 2px;
  gap: 8px;
}
.newTaskArea input {
  width: 100%;
  caret-color: #fff;
  border: 2px solid #444;
  padding: 8px;
  border-radius: 4px;
  transition: 0.5s;
}
.newTaskArea input:focus {
  border: 2px solid #fff;
}
.newTaskArea input::placeholder {
  color: #aaa;
}
.newTaskArea input:focus::placeholder {
  color: #101010;
}

.newTaskArea button,
.newTaskArea input,
.newTaskArea select {
  background-color: transparent;
  color: #fff;
}
.newTaskArea select * {
  color: #000;
}

.newTaskArea button {
  color: #fff;
  cursor: pointer;
  align-items: center;
  padding: 5px;
  transition: 0.5s;
  border-radius: 2px;
}

.newTaskArea button:hover,
.newTaskArea button:focus {
  background-color: #111139;
  transform: rotate(360deg);
}

.list-todo {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.todo-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px;
  color: #fff;
  font-size: 16px;
  margin-bottom: 8px;
  background-color: #212121;
  border-radius: 2px;
  transition: 0.2s;
  align-items: center;
  justify-content: space-between;
}
.todo-item:hover,
.todo-item:focus {
  background-color: transparent;
}
.todo-item div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.btn-icon {
  background-color: transparent;
  font-size: initial;
  cursor: pointer;
  display: flex;
}

.no-data {
  background-color: #212121;
  color: #fff;
  padding: 12px;
  border-radius: 4px;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
}

.accordion-item {
  width: 100%;
  padding: 10px;
  color: #fff;
  margin-bottom: 8px;
  background-color: #212121;
  border-radius: 2px;
  transition: 0.2s;
}
.accordion-header {
  display: flex;
  flex-direction: row;
  font-weight: 400;
  font-size: 16px;
  align-items: center;
  justify-content: space-between;
}
.accordion-header div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.accordion-trigger {
  font-weight: 500;
  font-size: 16px;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}
.accordion-content {
  margin-top: 16px;
  color: #fff;
  padding: 0;
}
.form-task {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 100%;
  margin-bottom: 16px;
}
.form-task input {
  background-color: transparent;
  width: 100%;
  caret-color: #fff;
  border: 2px solid #444;
  padding: 8px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  font-size: 14px;
}
.form-task button {
  background-color: #228b22;
  padding: 4px;
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
}
